CMakeCache.txt
CMakeFiles/
*.swp
*.o
cmake_install.cmake
Makefile
calibration/tmp_data.p
calibration/undistort
calibration/echo_pose
server
web/server.log
.webserver.video
.slam.map
.slam.plan
__pycache__
slam
logs/*
**/node_modules/*
.editor_log.txt
package-lock.json
